<!doctype html>
<html lang="en">
  <head>
    <title>CH_ORF</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>

  <link href="fhir.css" rel="stylesheet"/>


  <!-- Bootstrap core CSS -->
  <link href="dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>

  <!-- Project extras -->
  <link href="assets/css/project.css" rel="stylesheet"/>
  <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
  <link href="jquery-ui.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
    href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>
    <style type="text/css">
      pre{
          width: auto !important;
      }
    </style>
  </head>
  <body>
    <div>
    <div id="segment-header" class="segment">
        <!-- segment-header -->
        <div class="container">
            <!-- container -->
            <!--
<a id="logo" no-external="true" href="http://hl7.org/fhir">
    <img alt="logo fhir" src="assets/images/fhir-logo-www.png" />
</a>
-->


            <div id="hl7-status">
                <b>CH_ORF (v0.9.1)</b>
            </div>

            <div id="hl7-nav">
    <a id="ehealthsuisse-logo" no-external="true" href="https://www.e-health-suisse.ch/startseite.html">
        <img alt="visit the e-health-suisse website" height="50" src="assets/images/LogoDE_ehealthsuisse.svg" />
    </a>            
</div>

        </div>
        <div class="container">
            <!-- container -->
        </div>
    </div>
    <!-- /segment-header -->

    <div id="segment-navbar" class="segment">
    <!-- segment-navbar -->
    <div id="stripe"> </div>
    <div class="container">
        <!-- container -->
        <!-- HEADER CONTENT -->

        <nav class="navbar navbar-inverse">
            <div class="container">
                <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse"
                    type="button">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                </button>
                <a class="navbar-brand hidden" href="http://hl7.org/fhir/r4/index.html">FHIR</a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="profiles.html">Profiles</a></li>
                        <li><a href="extensions.html">Extensions</a></li>
                        <li><a href="terminology.html">Terminology</a></li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->

        <!-- /HEADER CONTENT -->
    </div>
    <!-- /container -->
</div>
    <!-- /segment-navbar -->
</div>
    
    <div id="segment-breadcrumb" class="segmnt">
      <div class="container">
        <ul class="breadcrumb">
          <li title="CH_ORF"><a href="index.html"><b>CH_ORF</b></a></li>
          
          
          <li><b>referral-min Details</b></li>
          
        </ul>
      </div>
    </div>

    
    <div id="segment-content" class="segment">
      <div class="container">
          <div class="row">
              <div class="inner-wrapper">
                <div class="col-12" >
<!--ReleaseHeader--><p id="publish-box">This page is part of the CH ORF (R4) (v0.9.1: <a data-no-external="true" href="https://confluence.hl7.org/display/HL7/HL7+Balloting" title="Standard for Trial-Use">STU</a> 1 Draft) based on <a data-no-external="true" href="http://hl7.org/fhir/R4">FHIR (HL7® FHIR® Standard) R4</a>. The current version which supersedes this version is <a data-no-external="true" href="http://fhir.ch/ig/ch-orf">3.0.2</a>.  For a full list of available versions, see the <a data-no-external="true" href="http://fhir.ch/ig/ch-orf/history.html">Directory of published versions</a></p><!--EndReleaseHeader-->
<!-- 
This is the {% if {{site.build}} == "ci" %}
    Continuous Integration Build
   {% else %}
    (release {{site.data.fhir.ig.version}})
  {% endif %}
  {% if {{site.build}} == "ballot" %} {{site.ballot}} Ballot {% endif %}
  of the {{site.data.fhir.igName}} Implementation Guide,  based on <a href="{{ site.data.fhir.path }}index.html">FHIR Version {{ site.data.fhir.version }}</a>.  See the <a href="{{ site.historypath }}">Directory of published versions.</a>
 -->
                </div>
              </div>
          </div>
      </div>
    </div>

    
    <div id="segment-content" class="segment">
      <div class="container">
        <div class="row">
          <div class="inner-wrapper">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class=""><a href="Questionnaire-referral-min.html">Content</a></li>
                    
                    <li class=""><a href="Questionnaire-referral-min.xml.html">XML</a></li>
                    <li class="active"><a href="Questionnaire-referral-min.json.html">JSON</a></li>
                </ul>
      
  
              
              <br/>
              <pre class="json">
{
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire">resourceType</a>" : "Questionnaire",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.id">id</a>" : "referral-min",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.meta">meta</a>" : {
    "<a href="http://hl7.org/fhir/r4/datatypes.html#Meta#Meta.profile">profile</a>" : [
      "http://fhir.ch/ig/ch-orf/StructureDefinition/ch-orf-questionnaire",
      "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire",
      "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-extract"
    ]
  },
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.text">text</a>" : {
    "<a href="http://hl7.org/fhir/r4/datatypes.html#Narrative#Narrative.status">status</a>" : "generated",
    "<a href="http://hl7.org/fhir/r4/datatypes.html#Narrative#Narrative.div">div</a>" : "&lt;div xmlns=\&quot;http://www.w3.org/1999/xhtml\&quot;&gt;\n            &lt;pre&gt;radio button für geschlecht horizontal, required Element, textbox für untersuchung, Checkboxen mit optional Textangaben, Angabe von mehreren Beilagen&lt;/pre&gt;\n        &lt;/div&gt;"<a name="end-xhtml"></a>
  },
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.extension">extension</a>" : [
    {
      "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.url">url</a>" : "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-targetStructureMap",
      "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.value[x]">valueCanonical</a>" : "http://fhir.ch/ig/ch-orf/StructureMap/map-orf"
    }
  ],
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.url">url</a>" : "http://fhir.ch/ig/ch-orf/Questionnaire/referral-min",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.version">version</a>" : "0.9.1",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.name">name</a>" : "ORFReferralMinimial",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.title">title</a>" : "ORF Referral Minimial",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.status">status</a>" : "draft",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.experimental">experimental</a>" : true,
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.subjectType">subjectType</a>" : [
    "Patient"
  ],
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.date">date</a>" : "2019-03-28T00:00:00+01:00",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.publisher">publisher</a>" : "ahdis",
  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item">item</a>" : [
    {
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "order",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Auftrag",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "order.number",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Auftrags-Nummer",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true
        }
      ]
    },
    {
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.definition">definition</a>" : "http://fhir.ch/ig/ch-core/StructureDefinition/ch-core-patient",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Patient",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.lastname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.definition">definition</a>" : "http://fhir.ch/ig/ch-core/StructureDefinition/ch-core-patient#Patient.name",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.code">code</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://fhir.ch/ig/ch-orf/CodeSystem/minimaldataset",
              "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "Patient.name.family"
            }
          ],
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Name",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.firstname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.definition">definition</a>" : "http://fhir.ch/ig/ch-core/StructureDefinition/ch-core-patient#Patient.name",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.code">code</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://fhir.ch/ig/ch-orf/CodeSystem/minimaldataset",
              "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "Patient.name.given"
            }
          ],
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Vorname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.pid",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "PID (sendendes System)",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.birthdate",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Geburtsdatum",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "date",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.extension">extension</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.url">url</a>" : "http://hl7.org/fhir/StructureDefinition/questionnaire-choiceOrientation",
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.value[x]">valueCode</a>" : "horizontal"
            },
            {
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.url">url</a>" : "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.value[x]">valueCodeableConcept</a>" : {
                "<a href="http://hl7.org/fhir/r4/datatypes.html#CodeableConcept#CodeableConcept.coding">coding</a>" : [
                  {
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://hl7.org/fhir/questionnaire-item-control",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "radio-button",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Radio Button"
                  }
                ],
                "<a href="http://hl7.org/fhir/r4/datatypes.html#CodeableConcept#CodeableConcept.text">text</a>" : "A control where choices are listed with a button beside them. The button can be toggled to select or de-select a given choice. Selecting one item deselects all others."
              }
            }
          ],
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.sex",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Geschlecht",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "choice",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true,
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption">answerOption</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.value[x]">valueCoding</a>" : {
                "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "F",
                "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Weiblich"
              },
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.initialSelected">initialSelected</a>" : true
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.value[x]">valueCoding</a>" : {
                "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "M",
                "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Männlich"
              }
            }
          ]
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "patient.zip",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "PLZ",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true,
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.maxLength">maxLength</a>" : 6
        }
      ]
    },
    {
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "examiniation",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Untersuch",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "examiniation.reason",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Grund Überweisung",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "text",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.required">required</a>" : true
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.extension">extension</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.url">url</a>" : "http://hl7.org/fhir/StructureDefinition/questionnaire-choiceOrientation",
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.value[x]">valueCode</a>" : "horizontal"
            },
            {
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.url">url</a>" : "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              "<a href="http://hl7.org/fhir/r4/extensibility.html#Extension#Extension.value[x]">valueCodeableConcept</a>" : {
                "<a href="http://hl7.org/fhir/r4/datatypes.html#CodeableConcept#CodeableConcept.coding">coding</a>" : [
                  {
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://hl7.org/fhir/questionnaire-item-control",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "check-box"
                  }
                ]
              }
            }
          ],
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "chemogramm",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Chemogramm",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "open-choice",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "lab",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Laborwerte",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption">answerOption</a>" : [
                {
                  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.value[x]">valueCoding</a>" : {
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://loinc.org",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "27353-2",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Glucose"
                  }
                },
                {
                  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.value[x]">valueCoding</a>" : {
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://loinc.org",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "33898-8",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Bilirubin"
                  }
                },
                {
                  "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.answerOption.value[x]">valueCoding</a>" : {
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.system">system</a>" : "http://loinc.org",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.code">code</a>" : "3094-0",
                    "<a href="http://hl7.org/fhir/r4/datatypes.html#Coding#Coding.display">display</a>" : "Harnstoff"
                  }
                }
              ]
            }
          ]
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "examiniation.attachments",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Beilage",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "attachment",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.repeats">repeats</a>" : true
        }
      ]
    },
    {
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Receiver",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.lastname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Name",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.firstname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Vorname",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.organization",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Organisation",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.street",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Strasse",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.postfach",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Postfach",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.zip",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "PLZ",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        },
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "receiver.city",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Ort",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
        }
      ]
    },
    {
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Sender",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
      "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
        {
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Sender",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "group",
          "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.item">item</a>" : [
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.visum",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Visum",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.bereich",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Bereich",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.abt",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Bereich",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.lastname",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Name",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.firstname",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Vorname",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.organization",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Organisastion",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.tel",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Telefon",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.e-mail",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "E-Mail",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.street",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Strasse",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.postfach",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Postfach",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.zip",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "PLZ",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            },
            {
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.linkId">linkId</a>" : "orderer.sender.city",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.text">text</a>" : "Ort",
              "<a href="http://hl7.org/fhir/r4/questionnaire.html#Questionnaire.item.type">type</a>" : "string"
            }
          ]
        }
      ]
    }
  ]
}</pre>

            
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  <div igtool="footer" id="segment-footer" class="segment">
    <!-- segment-footer -->
    <div class="container">
      <!-- container -->
      <div class="inner-wrapper">
        <p>CH_ORF (v0.9.1) generated on
          Fri, Nov 29, 2019 15:17+0100. <a href="qa.html">QA Page</a>
        </p>
      </div>
      <!-- /inner-wrapper -->
    </div>
    <!-- /container -->
  </div>
  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

  <div id="segment-post-footer" class="segment hidden">
    <!-- segment-post-footer -->
    <div class="container">
      <!-- container -->
    </div>
    <!-- /container -->
  </div>
  <!-- /segment-post-footer -->

  <!-- JS and analytics only. -->
  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="jquery-3.2.1.min.js"> </script>
  <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script src="jquery-ui.min.js"> </script>
  <script src="dist/js/bootstrap.min.js"> </script>
  <script src="assets/js/respond.min.js"> </script>

  <script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->

 
  </body>
</html>
