<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Profile: Practitioner - FHIR</title>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>
  
  <!-- Bootstrap core CSS -->
  <link href="dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>

  <!-- Project extras -->
  <link href="assets/css/project.css" rel="stylesheet"/>
  <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
	<link href="assets/js/jquery-ui.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>
</head>

<body>
  <div id="segment-header" class="segment">
  <!-- segment-header -->
  <div class="container">
    <!-- container -->
    <div id="hl7-status">
      <b>eMediplan CHMED20AF Implementation Guide: </b>
    </div>
    <div id="hl7-nav">
      <a id="logo" no-external="true" href="http://www.emediplan.ch"><img alt="logo fhir" src="assets/images/emediplan-logo.svg" height="72px" width="266px" /> </a>
    </div>
  </div>
  <div class="container">
    <!-- container -->
  </div>
</div>
<!-- /segment-header -->

<div id="segment-breadcrumb" class="segment">
  <!-- segment-breadcrumb -->
  <div class="container">
    <!-- container -->
    <ul class="breadcrumb">
      <li><b><a href="index.html">Home</a></b></li>
      <li><b><a href="intro.html">Introduction</a></b></li>
      <li><b><a href="profiles.html">Profiles</a></b></li>
      <li><b><a href="valuesets.html">Value Sets</a></b></li>
      <li><b><a href="dosage.html">Dosage</a></b></li>
      <li><b><a href="privatefields.html">Private Fields</a></b></li>
      <li><b><a href="analyzer.html">Analyzer</a></b></li>
    </ul>
  </div>
  <!-- /container -->
  
    <div id="segment-content" class="segment">
      <div class="container">
          <div class="row">
              <div class="inner-wrapper">
                <div class="col-12" >
<!--ReleaseHeader--><p id="publish-box">Implementation Guide CHMED20AF - Local Development build (v0.3.0). See the <a href="http://chmed20af.emediplan.ch/fhir/history.html">Directory of published versions</a></p><!--EndReleaseHeader-->
<!-- 
This is the {% if {{site.build}} == "ci" %}
    Continuous Integration Build
   {% else %}
    (release {{site.data.fhir.ig.version}})
  {% endif %}
  {% if {{site.build}} == "ballot" %} {{site.ballot}} Ballot {% endif %}
  of the {{site.data.fhir.igName}} Implementation Guide,  based on <a href="{{ site.data.fhir.path }}index.html">FHIR Version {{ site.data.fhir.version }}</a>.  See the <a href="{{ site.historypath }}">Directory of published versions.</a>
 -->
                </div>
              </div>
          </div>
      </div>
    </div>

</div>
<!-- /segment-breadcrumb -->

  <!--
  <div id="segment-breadcrumb" class="segmnt">
    <div class="container">
      <ul class="breadcrumb">
        <li title="IgChMED20AF">
          <a href="index.html">
            <b>IgChMED20AF</b>
          </a>
        </li>
        <li>
          <b>Practitioner Details</b>
        </li>
      </ul>
    </div>
  </div>
-->

  <div id="segment-content" class="segment">
    <div class="container">
      <div class="row">
        <div class="inner-wrapper">
          <div class="col-12">
              <ul class="nav nav-tabs">
                  <li class=""><a href="StructureDefinition-chmed20af-practitioner.html">Content</a></li>
                  
                    <li class=""><a href="StructureDefinition-chmed20af-practitioner-definitions.html">Detailed Descriptions</a></li>
                    <li class="active"><a href="StructureDefinition-chmed20af-practitioner-mappings.html">Mappings</a></li>
                    <li class=""><a href="StructureDefinition-chmed20af-practitioner-examples.html">Examples</a></li>
                  
                  <li class=""><a href="StructureDefinition-chmed20af-practitioner.xml.html">XML</a></li>
                  <li class=""><a href="StructureDefinition-chmed20af-practitioner.json.html">JSON</a></li>
              </ul>
    

              <h2 id="root">StructureDefinition: Practitioner - Mappings</h2>

              
              
            
              <a name="CHMED16A"> </a><h3>Mappings for Mapping to CHMED16A (http://emediplan.ch/chmed16a)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td>Auth</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (GLN)</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>Auth.Gln</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (ZSR)</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>ZSR-Number of the organisation</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>name.given = Auth.FName, name.family = Auth.LName</td> </tr>
</table>
<a name="CDA-CH-V2"> </a><h3>Mappings for CDA-CH 2020 V2.1 (http://e-health-wiki.ch/index.php/Ehscda:CDA-CH_2017_(specification))</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td>hl7:author (1..* R)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>hl7:author (1..* R) / hl7:assignedAuthor (1..1 R) / hl7:id (1..* R)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>https://art-decor.org/art-decor/decor-templates--hl7chcda-?section=templates&amp;id=2.16.756.5.30.1.1.10.9.35, hl7:author (1..* R) / hl7:assignedAuthor (1..1 R) / hl7:assignedPerson (1..1 R) / hl7:name (1..1 R)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;telecom</td><td>hl7:author (1..* R) / hl7:assignedAuthor (1..1 R) / hl7:telecom (1..* R)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;address</td><td>https://art-decor.org/art-decor/decor-templates--hl7chcda-?section=templates&amp;id=2.16.756.5.30.1.1.10.9.35, hl7:author (1..* R) / hl7:assignedAuthor (1..1 R) / hl7:addr (0..*)</td> </tr>
</table>
<a name="eCH"> </a><h3>Mappings for eCH-Standards (http://www.ech.ch/)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>eCH-0011: 3.3.2 nameData</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;address</td><td>eCH-0010: 5.5 addressInformation</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;gender</td><td>eCH-0011: 3.3.3 sex. sexType, BFS-33, see ConceptMap http://fhir.ch/ig/ch-core/ConceptMap/sex-ech11-to-fhir</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;birthDate</td><td>eCH-0011: 3.3.3 birthData, BFS-31</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;communication</td><td>eCH-0011: 3.3.9 languageOfCorrespondance: de, fr, it, rm = Rhaeto-Romance, en, other languages ISO 639-1</td> </tr>
</table>
<a name="EPR"> </a><h3>Mappings for EPR ValueSets (https://art-decor.org/art-decor/decor-valuesets--ch-epr-)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
</table>
<a name="v2"> </a><h3>Mappings for HL7 v2 Mapping (<a href="http://hl7.org/comparison-v2.html">http://hl7.org/v2</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td>PRD (as one example)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>PRD-7 (or XCN.1)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (GLN)</td><td>PRD-7 (or XCN.1)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type</td><td>CX.5</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>CX.4 / EI-2-4</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>CX.1 / EI.1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>CX.7 + CX.8</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>CX.4 / (CX.4,CX.9,CX.10)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (ZSR)</td><td>PRD-7 (or XCN.1)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type</td><td>CX.5</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>CX.4 / EI-2-4</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>CX.1 / EI.1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>CX.7 + CX.8</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>CX.4 / (CX.4,CX.9,CX.10)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>XPN</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;telecom</td><td>PRT-15, STF-10, ROL-12</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;address</td><td>XAD</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;gender</td><td>STF-5</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;birthDate</td><td>STF-6</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;qualification</td><td>CER?</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;communication</td><td>PID-15, NK1-20, LAN-2</td> </tr>
</table>
<a name="rim"> </a><h3>Mappings for RIM Mapping (<a href="http://hl7.org/comparison-v3.html">http://hl7.org/v3</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td>Entity. Role, or Act, Role</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;text</td><td>Act.text?</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;contained</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;extension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;modifierExtension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>./id</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (GLN)</td><td>./id</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use</td><td>Role.code or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type</td><td>Role.code or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>II.root or Role.id.root</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>II.extension or II.root if system indicates OID or GUID (Or Role.id.extension or root)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>Role.effectiveTime or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>II.assigningAuthorityName but note that this is an improper use by the definition of the field.  Also Role.scoper</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (ZSR)</td><td>./id</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use</td><td>Role.code or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type</td><td>Role.code or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>II.root or Role.id.root</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>II.extension or II.root if system indicates OID or GUID (Or Role.id.extension or root)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>Role.effectiveTime or implied by context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>II.assigningAuthorityName but note that this is an improper use by the definition of the field.  Also Role.scoper</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;active</td><td>./statusCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>n/a, EN (actually, PN)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;telecom</td><td>./telecom</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;address</td><td>n/a, AD</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;gender</td><td>./administrativeGender</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;birthDate</td><td>./birthTime</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;photo</td><td>./subjectOf/ObservationEvent[code=&quot;photo&quot;]/value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;qualification</td><td>.playingEntity.playingRole[classCode=QUAL].code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;modifierExtension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;identifier</td><td>.playingEntity.playingRole[classCode=QUAL].id</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>.playingEntity.playingRole[classCode=QUAL].code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>.playingEntity.playingRole[classCode=QUAL].effectiveTime</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;issuer</td><td>.playingEntity.playingRole[classCode=QUAL].scoper</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;communication</td><td>./languageCommunication</td> </tr>
</table>
<a name="servd"> </a><h3>Mappings for ServD (<a href="http://www.omg.org/spec/ServD/1.0/">http://www.omg.org/spec/ServD/1.0/</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td>Provider</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>./Identifiers</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (GLN)</td><td>./Identifiers</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>./IdentifierType</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>./Value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>./StartDate and ./EndDate</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>./IdentifierIssuingAuthority</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (ZSR)</td><td>./Identifiers</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>./IdentifierType</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value</td><td>./Value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>./StartDate and ./EndDate</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;assigner</td><td>./IdentifierIssuingAuthority</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;name</td><td>ProviderName</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;telecom</td><td>./ContactPoints</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;address</td><td>Address</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;gender</td><td>./GenderCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;birthDate</td><td>(not represented in ServD)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;photo</td><td>./ImageURI (only supports the URI reference)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;qualification</td><td>./Qualifications</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>./Qualifications.Value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>./Qualifications.StartDate and ./Qualifications.EndDate</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;communication</td><td>./Languages.LanguageSpokenCode</td> </tr>
</table>
<a name="w5"> </a><h3>Mappings for FiveWs Pattern Mapping (http://hl7.org/fhir/fivews)</h3><table class="grid">
 <tr><td colspan="3"><b>Practitioner</b></td></tr>
 <tr><td>Practitioner</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>FiveWs.identifier</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (GLN)</td><td>FiveWs.identifier</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier (ZSR)</td><td>FiveWs.identifier</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;active</td><td>FiveWs.status</td> </tr>
</table>

            
              
              
            
          
          </div>
        </div>
      </div>
    </div>

    <div id="segment-footer" class="segment">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>
        &copy; eMediplan 2017+. <a style="color: #ffffff" href="http://www.hl7.org/fhir">based on FHIR Release 4.</a>
        <br/>
        HL7&reg;, HEALTH LEVEL SEVEN&reg;, FHIR&reg; and the FHIR <img src="assets/ico/favicon.png"/>&reg; are trademarks owned by Health Level Seven International, registered with the United States Patent and Trademark Office.
        </p>
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery-3.2.1.min.js"> </script>
  <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script src="assets/js/jquery-ui.min.js"> </script>

<script src="dist/js/bootstrap.min.js"> </script>
<script src="assets/js/respond.min.js"> </script>

<script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->


    <script>
      $(document).ready(function () {
        try {
          var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
        }
        catch (exception) { }

        if (!currentTabIndex) {
          currentTabIndex = '0';
        }

        $('#tabs').tabs({
          active: currentTabIndex,
          activate: function (event, ui) {
            var active = $('.selector').tabs('option', 'active');
            currentTabIndex = ui.newTab.index();
            document.activeElement.blur();
            try {
              sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
            }
            catch (exception) {
            }
          }
        });
      });
    </script>
</body>

</html>