<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Profile: CardDosageChmed20af - FHIR</title>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>
  
  <!-- Bootstrap core CSS -->
  <link href="dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>

  <!-- Project extras -->
  <link href="assets/css/project.css" rel="stylesheet"/>
  <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
	<link href="assets/js/jquery-ui.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>
</head>

<body>
  <div id="segment-header" class="segment">
  <!-- segment-header -->
  <div class="container">
    <!-- container -->
    <div id="hl7-status">
      <b>eMediplan CHMED20AF Implementation Guide: </b>
    </div>
    <div id="hl7-nav">
      <a id="logo" no-external="true" href="http://www.emediplan.ch"><img alt="logo fhir" src="assets/images/emediplan-logo.svg" height="72px" width="266px" /> </a>
    </div>
  </div>
  <div class="container">
    <!-- container -->
  </div>
</div>
<!-- /segment-header -->

<div id="segment-breadcrumb" class="segment">
  <!-- segment-breadcrumb -->
  <div class="container">
    <!-- container -->
    <ul class="breadcrumb">
      <li><b><a href="index.html">Home</a></b></li>
      <li><b><a href="intro.html">Introduction</a></b></li>
      <li><b><a href="profiles.html">Profiles</a></b></li>
      <li><b><a href="valuesets.html">Value Sets</a></b></li>
      <li><b><a href="dosage.html">Dosage</a></b></li>
      <li><b><a href="privatefields.html">Private Fields</a></b></li>
      <li><b><a href="analyzer.html">Analyzer</a></b></li>
    </ul>
  </div>
  <!-- /container -->
  
    <div id="segment-content" class="segment">
      <div class="container">
          <div class="row">
              <div class="inner-wrapper">
                <div class="col-12" >
<!--ReleaseHeader--><p id="publish-box">This page is part of the CH EMED (R4) (v0.1.0: <a data-no-external="true" href="https://confluence.hl7.org/display/HL7/HL7+Balloting" title="Draft Standard for Trial-Use">DSTU</a> 1) based on <a data-no-external="true" href="http://hl7.org/fhir/R4">FHIR (HL7® FHIR® Standard) R4</a>. The current version which supersedes this version is <a data-no-external="true" href="http://fhir.ch/ig/ch-emed">6.0.0-ballot</a>.  For a full list of available versions, see the <a data-no-external="true" href="http://fhir.ch/ig/ch-emed/history.html">Directory of published versions</a></p><!--EndReleaseHeader-->
<!-- 
This is the {% if {{site.build}} == "ci" %}
    Continuous Integration Build
   {% else %}
    (release {{site.data.fhir.ig.version}})
  {% endif %}
  {% if {{site.build}} == "ballot" %} {{site.ballot}} Ballot {% endif %}
  of the {{site.data.fhir.igName}} Implementation Guide,  based on <a href="{{ site.data.fhir.path }}index.html">FHIR Version {{ site.data.fhir.version }}</a>.  See the <a href="{{ site.historypath }}">Directory of published versions.</a>
 -->
                </div>
              </div>
          </div>
      </div>
    </div>

</div>
<!-- /segment-breadcrumb -->

  <!--
  <div id="segment-breadcrumb" class="segmnt">
    <div class="container">
      <ul class="breadcrumb">
        <li title="IgChMED20AF">
          <a href="index.html">
            <b>IgChMED20AF</b>
          </a>
        </li>
        <li>
          <b>CardDosageChmed20af Details</b>
        </li>
      </ul>
    </div>
  </div>
-->

  <div id="segment-content" class="segment">
    <div class="container">
      <div class="row">
        <div class="inner-wrapper">
          <div class="col-12">
              <ul class="nav nav-tabs">
                  <li class=""><a href="StructureDefinition-chmed20af-card-dosage.html">Content</a></li>
                  
                    <li class=""><a href="StructureDefinition-chmed20af-card-dosage-definitions.html">Detailed Descriptions</a></li>
                    <li class="active"><a href="StructureDefinition-chmed20af-card-dosage-mappings.html">Mappings</a></li>
                    <li class=""><a href="StructureDefinition-chmed20af-card-dosage-examples.html">Examples</a></li>
                  
                  <li class=""><a href="StructureDefinition-chmed20af-card-dosage.xml.html">XML</a></li>
                  <li class=""><a href="StructureDefinition-chmed20af-card-dosage.json.html">JSON</a></li>
              </ul>
    

              <h2 id="root">StructureDefinition: CardDosageChmed20af - Mappings</h2>

              
              
            
              <a name="CHMED16A"> </a><h3>Mappings for Mapping to CHMED16A (http://emediplan.ch/chmed16a)</h3><table class="grid">
 <tr><td colspan="3"><b>CardDosageChmed20af</b></td></tr>
 <tr><td>Dosage</td><td>Posology</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;timing</td><td>Posology.DtFrom, Posology.DtTo, Posology.CyDu, Posology.InRes, SimpliedVersion of taking times onlys</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;route</td><td>Medicament.Roa</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;doseAndRate</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dose[x]</td><td>doseQuantity: TakingTime.A, doseRange: TakingTime.DoFrom, TakingTime.DoTo</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;maxDosePerPeriod</td><td>TakingTime.MA</td> </tr>
</table>
<a name="cda"> </a><h3>Mappings for CDA (R2) (<a href="http://hl7.org/comparison-cda.html">http://hl7.org/v3/cda</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>CardDosageChmed20af</b></td></tr>
 <tr><td>Dosage</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;extension (dosageType)</td><td>.templateId</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;sequence</td><td>.entryRelationship.sequenceNumber</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;timing</td><td>.effectiveTime</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bounds[x]</td><td>.low/.high</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when</td><td>.event</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;route</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coding</td><td>.routeCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;doseAndRate</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dose[x]</td><td>.doseQuantity</td> </tr>
</table>
<a name="rim"> </a><h3>Mappings for RIM Mapping (<a href="http://hl7.org/comparison-v3.html">http://hl7.org/v3</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>CardDosageChmed20af</b></td></tr>
 <tr><td>Dosage</td><td>n/a, .outboundRelationship[typeCode=COMP].target[classCode=SBADM, moodCode=INT]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;modifierExtension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;sequence</td><td>.text</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;text</td><td>.text</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;additionalInstruction</td><td>.text</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;patientInstruction</td><td>.text</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;timing</td><td>.effectiveTime</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;modifierExtension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;event</td><td>QLIST&lt;TS&gt;</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;repeat</td><td>Implies PIVL or EIVL</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bounds[x]</td><td>IVL(TS) used in a QSI</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;count</td><td>PIVL.count</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;countMax</td><td>PIVL.count</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;duration</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;durationMax</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;durationUnit</td><td>PIVL.phase.unit</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;frequency</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;frequencyMax</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;period</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;periodMax</td><td>PIVL.phase</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;periodUnit</td><td>PIVL.phase.unit</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dayOfWeek</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;timeOfDay</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;when</td><td>EIVL.event</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;offset</td><td>EIVL.offset</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>QSC.code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;asNeeded[x]</td><td>.outboundRelationship[typeCode=PRCN].target[classCode=OBS, moodCode=EVN, code=&quot;as needed&quot;].value=boolean or codable concept</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;site</td><td>.approachSiteCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;route</td><td>.routeCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coding</td><td>union(., ./translation)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>./codeSystem</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;version</td><td>./codeSystemVersion</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>./code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display</td><td>CV.displayName</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userSelected</td><td>CD.codingRationale</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text</td><td>./originalText[mediaType/code=&quot;text/plain&quot;]/data</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;method</td><td>.doseQuantity</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;doseAndRate</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dose[x]</td><td>.doseQuantity</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rate[x]</td><td>.rateQuantity</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;maxDosePerPeriod</td><td>.maxDoseQuantity</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;maxDosePerAdministration</td><td>not supported</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;maxDosePerLifetime</td><td>not supported</td> </tr>
</table>
<a name="v2"> </a><h3>Mappings for HL7 v2 Mapping (<a href="http://hl7.org/comparison-v2.html">http://hl7.org/v2</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>CardDosageChmed20af</b></td></tr>
 <tr><td>Dosage</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;sequence</td><td>TQ1-1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;text</td><td>RXO-6; RXE-21</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;additionalInstruction</td><td>RXO-7</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;patientInstruction</td><td>RXO-7</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;asNeeded[x]</td><td>TQ1-9</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;site</td><td>RXR-2</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;route</td><td>RXR-1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coding</td><td>C*E.1-8, C*E.10-22</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>C*E.3</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;version</td><td>C*E.7</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>C*E.1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display</td><td>C*E.2 - but note this is not well followed</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userSelected</td><td>Sometimes implied by being first</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text</td><td>C*E.9. But note many systems use C*E.2 for this</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;method</td><td>RXR-4</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;doseAndRate</td><td>TQ1-2</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type</td><td>RXO-21; RXE-23</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dose[x]</td><td>RXO-2, RXE-3</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rate[x]</td><td>RXE22, RXE23, RXE-24</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;maxDosePerPeriod</td><td>RXO-23, RXE-19</td> </tr>
</table>

            
              
              
            
          
          </div>
        </div>
      </div>
    </div>

    <div id="segment-footer" class="segment">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>
        &copy; eMediplan 2017+. <a style="color: #ffffff" href="http://www.hl7.org/fhir">based on FHIR Release 4.</a>
        <br/>
        HL7&reg;, HEALTH LEVEL SEVEN&reg;, FHIR&reg; and the FHIR <img src="assets/ico/favicon.png"/>&reg; are trademarks owned by Health Level Seven International, registered with the United States Patent and Trademark Office.
        </p>
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery-3.2.1.min.js"> </script>
  <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script src="assets/js/jquery-ui.min.js"> </script>

<script src="dist/js/bootstrap.min.js"> </script>
<script src="assets/js/respond.min.js"> </script>

<script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->


    <script>
      $(document).ready(function () {
        try {
          var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
        }
        catch (exception) { }

        if (!currentTabIndex) {
          currentTabIndex = '0';
        }

        $('#tabs').tabs({
          active: currentTabIndex,
          activate: function (event, ui) {
            var active = $('.selector').tabs('option', 'active');
            currentTabIndex = ui.newTab.index();
            document.activeElement.blur();
            try {
              sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
            }
            catch (exception) {
            }
          }
        });
      });
    </script>
</body>

</html>