<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Profile: AnalyzerMedicationStatement - FHIR</title>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="http://hl7.org/fhir"/>
  
  <!-- Bootstrap core CSS -->
  <link href="dist/css/bootstrap.css" rel="stylesheet"/>
  <link href="assets/css/bootstrap-fhir.css" rel="stylesheet"/>

  <!-- Project extras -->
  <link href="assets/css/project.css" rel="stylesheet"/>
  <link href="assets/css/pygments-manni.css" rel="stylesheet"/>
	<link href="assets/js/jquery-ui.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png"/>
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"/>
  <link rel="shortcut icon" href="assets/ico/favicon.png"/>
</head>

<body>
  <div id="segment-header" class="segment">
  <!-- segment-header -->
  <div class="container">
    <!-- container -->
    <div id="hl7-status">
      <b>eMediplan CHMED20AF Implementation Guide: </b>
    </div>
    <div id="hl7-nav">
      <a id="logo" no-external="true" href="http://www.emediplan.ch"><img alt="logo fhir" src="assets/images/emediplan-logo.svg" height="72px" width="266px" /> </a>
    </div>
  </div>
  <div class="container">
    <!-- container -->
  </div>
</div>
<!-- /segment-header -->

<div id="segment-breadcrumb" class="segment">
  <!-- segment-breadcrumb -->
  <div class="container">
    <!-- container -->
    <ul class="breadcrumb">
      <li><b><a href="index.html">Home</a></b></li>
      <li><b><a href="intro.html">Introduction</a></b></li>
      <li><b><a href="profiles.html">Profiles</a></b></li>
      <li><b><a href="valuesets.html">Value Sets</a></b></li>
      <li><b><a href="dosage.html">Dosage</a></b></li>
      <li><b><a href="privatefields.html">Private Fields</a></b></li>
      <li><b><a href="analyzer.html">Analyzer</a></b></li>
    </ul>
  </div>
  <!-- /container -->
  
    <div id="segment-content" class="segment">
      <div class="container">
          <div class="row">
              <div class="inner-wrapper">
                <div class="col-12" >
<!--ReleaseHeader--><p id="publish-box">Implementation Guide CHMED20AF - Local Development build (v0.3.0). See the <a href="http://chmed20af.emediplan.ch/fhir/history.html">Directory of published versions</a></p><!--EndReleaseHeader-->
<!-- 
This is the {% if {{site.build}} == "ci" %}
    Continuous Integration Build
   {% else %}
    (release {{site.data.fhir.ig.version}})
  {% endif %}
  {% if {{site.build}} == "ballot" %} {{site.ballot}} Ballot {% endif %}
  of the {{site.data.fhir.igName}} Implementation Guide,  based on <a href="{{ site.data.fhir.path }}index.html">FHIR Version {{ site.data.fhir.version }}</a>.  See the <a href="{{ site.historypath }}">Directory of published versions.</a>
 -->
                </div>
              </div>
          </div>
      </div>
    </div>

</div>
<!-- /segment-breadcrumb -->

  <!--
  <div id="segment-breadcrumb" class="segmnt">
    <div class="container">
      <ul class="breadcrumb">
        <li title="IgChMED20AF">
          <a href="index.html">
            <b>IgChMED20AF</b>
          </a>
        </li>
        <li>
          <b>AnalyzerMedicationStatement Details</b>
        </li>
      </ul>
    </div>
  </div>
-->

  <div id="segment-content" class="segment">
    <div class="container">
      <div class="row">
        <div class="inner-wrapper">
          <div class="col-12">
              <ul class="nav nav-tabs">
                  <li class=""><a href="StructureDefinition-chmed20af-analyzer-medicationstatement.html">Content</a></li>
                  
                    <li class=""><a href="StructureDefinition-chmed20af-analyzer-medicationstatement-definitions.html">Detailed Descriptions</a></li>
                    <li class="active"><a href="StructureDefinition-chmed20af-analyzer-medicationstatement-mappings.html">Mappings</a></li>
                    <li class=""><a href="StructureDefinition-chmed20af-analyzer-medicationstatement-examples.html">Examples</a></li>
                  
                  <li class=""><a href="StructureDefinition-chmed20af-analyzer-medicationstatement.xml.html">XML</a></li>
                  <li class=""><a href="StructureDefinition-chmed20af-analyzer-medicationstatement.json.html">JSON</a></li>
              </ul>
    

              <h2 id="root">StructureDefinition: AnalyzerMedicationStatement - Mappings</h2>

              
              
            
              <a name="workflow"> </a><h3>Mappings for Workflow Pattern (<a href="http://hl7.org/fhir/workflow.html">http://hl7.org/fhir/workflow</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>AnalyzerMedicationStatement</b></td></tr>
 <tr><td>MedicationStatement</td><td>Event</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>Event.identifier</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;basedOn</td><td>Event.basedOn</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;partOf</td><td>Event.partOf</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;status</td><td>Event.status</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;statusReason</td><td>Event.statusReason</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x]</td><td>Event.code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x] (medicationReference)</td><td>Event.code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;subject</td><td>Event.subject</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;context</td><td>Event.context</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;effective[x]</td><td>Event.occurrence[x]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonCode</td><td>Event.reasonCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonReference</td><td>Event.reasonReference</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;note</td><td>Event.note</td> </tr>
</table>
<a name="rim"> </a><h3>Mappings for RIM Mapping (<a href="http://hl7.org/comparison-v3.html">http://hl7.org/v3</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>AnalyzerMedicationStatement</b></td></tr>
 <tr><td>MedicationStatement</td><td>Entity. Role, or Act, SubstanceAdministration</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;text</td><td>Act.text?</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;contained</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;modifierExtension</td><td>N/A</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>.id</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;basedOn</td><td>.outboundRelationship[typeCode=FLFS].target[classCode=SBADM or PROC or PCPR or OBS, moodCode=RQO orPLAN or PRP]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;partOf</td><td>.outboundRelationship[typeCode=COMP]/target[classCode=SPLY or SBADM or PROC or OBS,moodCode=EVN]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;status</td><td>.statusCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;statusReason</td><td>.inboundRelationship[typeCode=SUBJ].source[classCode=CACT, moodCode=EVN].reasonCOde</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;category</td><td>.inboundRelationship[typeCode=COMP].source[classCode=OBS, moodCode=EVN, code=&quot;type of medication usage&quot;].value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coding</td><td>union(., ./translation)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;id</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extension</td><td>n/a</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>./codeSystem</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;version</td><td>./codeSystemVersion</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>./code</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display</td><td>CV.displayName</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userSelected</td><td>CD.codingRationale</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text</td><td>./originalText[mediaType/code=&quot;text/plain&quot;]/data</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x]</td><td>.participation[typeCode=CSM].role[classCode=ADMM or MANU]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x] (medicationReference)</td><td>.participation[typeCode=CSM].role[classCode=ADMM or MANU]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;subject</td><td>.participation[typeCode=SBJ].role[classCode=PAT]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;context</td><td>.inboundRelationship[typeCode=COMP].source[classCode=ENC, moodCode=EVN, code=&quot;type of encounter or episode&quot;]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;effective[x]</td><td>.effectiveTime</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;dateAsserted</td><td>.participation[typeCode=AUT].time</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;informationSource</td><td>.participation[typeCode=INF].role[classCode=PAT, or codes for Practioner or Related Person (if PAT is the informer, then syntax for self-reported =true)</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;derivedFrom</td><td>.outboundRelationship[typeCode=SPRT]/target[classCode=ACT,moodCode=EVN]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonCode</td><td>.reasonCode</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonReference</td><td>.outboundRelationship[typeCode=RSON]/target[classCode=OBS,moodCode=EVN, code=&quot;reason for use&quot;].value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;note</td><td>.inboundRelationship[typeCode=SUBJ]/source[classCode=OBS,moodCode=EVN,code=&quot;annotation&quot;].value</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;dosage</td><td>refer dosageInstruction mapping</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;dosage (nonstructured)</td><td>n/a, .outboundRelationship[typeCode=COMP].target[classCode=SBADM, moodCode=INT]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;dosage (structured)</td><td>n/a, .outboundRelationship[typeCode=COMP].target[classCode=SBADM, moodCode=INT]</td> </tr>
</table>
<a name="w5"> </a><h3>Mappings for FiveWs Pattern Mapping (http://hl7.org/fhir/fivews)</h3><table class="grid">
 <tr><td colspan="3"><b>AnalyzerMedicationStatement</b></td></tr>
 <tr><td>MedicationStatement</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;identifier</td><td>FiveWs.identifier</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;status</td><td>FiveWs.status</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;category</td><td>FiveWs.class</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x]</td><td>FiveWs.what[x]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;medication[x] (medicationReference)</td><td>FiveWs.what[x]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;subject</td><td>FiveWs.subject[x], FiveWs.subject</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;effective[x]</td><td>FiveWs.done[x]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;dateAsserted</td><td>FiveWs.recorded</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;informationSource</td><td>FiveWs.source</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonCode</td><td>FiveWs.why[x]</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;reasonReference</td><td>FiveWs.why[x]</td> </tr>
</table>
<a name="v2"> </a><h3>Mappings for HL7 v2 Mapping (<a href="http://hl7.org/comparison-v2.html">http://hl7.org/v2</a>)</h3><table class="grid">
 <tr><td colspan="3"><b>AnalyzerMedicationStatement</b></td></tr>
 <tr><td>MedicationStatement</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;category</td><td></td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coding</td><td>C*E.1-8, C*E.10-22</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;system</td><td>C*E.3</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;version</td><td>C*E.7</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code</td><td>C*E.1</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;display</td><td>C*E.2 - but note this is not well followed</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userSelected</td><td>Sometimes implied by being first</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text</td><td>C*E.9. But note many systems use C*E.2 for this</td> </tr>
 <tr><td>&nbsp;&nbsp;&nbsp;subject</td><td>PID-3-Patient ID List</td> </tr>
</table>

            
              
              
            
          
          </div>
        </div>
      </div>
    </div>

    <div id="segment-footer" class="segment">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>
        &copy; eMediplan 2017+. <a style="color: #ffffff" href="http://www.hl7.org/fhir">based on FHIR Release 4.</a>
        <br/>
        HL7&reg;, HEALTH LEVEL SEVEN&reg;, FHIR&reg; and the FHIR <img src="assets/ico/favicon.png"/>&reg; are trademarks owned by Health Level Seven International, registered with the United States Patent and Trademark Office.
        </p>
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

      <!-- JS and analytics only. -->
      <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery-3.2.1.min.js"> </script>
  <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
  <script src="assets/js/jquery-ui.min.js"> </script>

<script src="dist/js/bootstrap.min.js"> </script>
<script src="assets/js/respond.min.js"> </script>

<script src="assets/js/fhir.js"> </script>

  <!-- Analytics Below
================================================== -->


    <script>
      $(document).ready(function () {
        try {
          var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
        }
        catch (exception) { }

        if (!currentTabIndex) {
          currentTabIndex = '0';
        }

        $('#tabs').tabs({
          active: currentTabIndex,
          activate: function (event, ui) {
            var active = $('.selector').tabs('option', 'active');
            currentTabIndex = ui.newTab.index();
            document.activeElement.blur();
            try {
              sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
            }
            catch (exception) {
            }
          }
        });
      });
    </script>
</body>

</html>